/* animation: name duration timing-function delay iteration-count direction fill-mode; */
#background1 {
  position: fixed;
  right: 0;
  min-width: 100%; }

#navbar-superior {
  background-color: #18932d !important; }
  #navbar-superior li {
    color: white;
    font: normal 8pt arial; }
  #navbar-superior #nav-item-1 {
    position: relative;
    left: 8rem; }
  #navbar-superior #nav-item-2 {
    position: relative;
    left: 10rem; }
  #navbar-superior #nav-item-3 {
    position: relative;
    left: 180%; }
  #navbar-superior #redes-Sociais {
    position: relative;
    left: -7rem;
    top: 0.3rem; }

#navbar-inferior {
  background-color: #2c2c2c !important; }
  #navbar-inferior #nav-brand {
    color: white;
    font: bold 20pt arial;
    position: relative;
    left: 8rem; }
  #navbar-inferior div[name="navbar-center"] {
    color: white !important;
    text-align: center !important; }
    #navbar-inferior div[name="navbar-center"] ul {
      justify-content: space-between;
      width: 30rem;
      position: relative;
      left: 50%;
      transform: translateX(-50%); }
  #navbar-inferior a {
    color: white !important; }
  #navbar-inferior #inputSearch {
    display: none; }
  #navbar-inferior #ButtonSearch {
    display: none; }
  #navbar-inferior #itens-Search {
    position: relative;
    left: -8rem; }
    #navbar-inferior #itens-Search input {
      position: relative;
      top: 50%;
      height: 3rem; }
    #navbar-inferior #itens-Search button {
      position: relative;
      top: 50%;
      height: 3rem; }
  @media (max-width: 1200px) {
    #navbar-inferior #itens-Search {
      position: relative;
      left: 0rem; } }

#card-carousel {
  width: 40rem;
  position: absolute;
  top: 40%;
  left: 15%; }

@media (max-width: 1200px) {
  #card-carousel {
    display: none; } }
@media (min-width: 2560px) {
  #card-carousel {
    width: 180rem; }
    #card-carousel h1 {
      font: bold 45pt arial; }
    #card-carousel h4 {
      font: normal 35pt arial; }
    #card-carousel p {
      font: normal 25pt arial; } }
#card-categories {
  text-align: center; }

#categories {
  position: relative;
  left: 50%;
  top: 15%;
  transform: translateX(-50%); }
  #categories button {
    color: black !important;
    width: 27% !important;
    height: 2.5rem !important;
    font: normal 8pt arial;
    border: none;
    border-radius: 5%;
    background-color: #fdfdfd;
    transition: all 0.5s; }
    #categories button:hover {
      color: white !important;
      background-color: #041b04; }

#Featured-Product {
  height: 60rem;
  justify-content: center; }
  #Featured-Product #productBackground {
    background-color: #a6c0c7 !important;
    width: 100%;
    height: 60rem;
    min-width: 100%;
    min-height: 100%;
    position: absolute; }
  #Featured-Product .titulo {
    text-align: center;
    position: relative;
    top: 5rem; }
  #Featured-Product #products {
    position: relative;
    left: 50%;
    top: 15%;
    transform: translateX(-50%); }

@media (max-width: 1300px) {
  #footerBackground {
    height: 40rem !important; } }
@media (max-width: 1200px) {
  #Featured-Product {
    height: 60rem; }
    #Featured-Product #productBackground {
      height: 60rem; }

  #footerBackground {
    height: 40rem !important; } }
@media (max-width: 900px) {
  #Featured-Product {
    height: 50rem; }
    #Featured-Product #productBackground {
      height: 50rem; }

  #footerBackground {
    height: 40rem !important; } }
@media (max-width: 700px) {
  #Featured-Product {
    height: 90rem; }
    #Featured-Product #productBackground {
      height: 90rem; }
    #Featured-Product #products {
      top: 10%; } }
@media (max-width: 650px) {
  #Featured-Product {
    height: 150rem; }
    #Featured-Product #productBackground {
      height: 150rem; }
    #Featured-Product #products {
      top: 10%; } }
@media (max-width: 600px) {
  #Featured-Product {
    height: 140rem; }
    #Featured-Product #productBackground {
      height: 140rem; }
    #Featured-Product #products {
      top: 10%; } }
@media (max-width: 500px) {
  #Featured-Product {
    height: 120rem; }
    #Featured-Product #productBackground {
      height: 120rem; }
    #Featured-Product #products {
      top: 10%; } }
@media (min-width: 2000px) {
  #Featured-Product {
    height: 70rem; }
    #Featured-Product #productBackground {
      height: 70rem; }
    #Featured-Product #products {
      top: 10%; } }
@media (min-width: 2200px) {
  #Featured-Product {
    height: 70rem; }
    #Featured-Product #productBackground {
      height: 70rem; }
    #Featured-Product #products {
      top: 10%; } }
@media (min-width: 2500px) {
  #Featured-Product {
    height: 40rem; }
    #Featured-Product #productBackground {
      height: 40rem; }
    #Featured-Product .titulo h1 {
      font: bold 35pt arial; }
    #Featured-Product .titulo p {
      font: normal 20pt arial; }
    #Featured-Product #products {
      top: 10%; } }
@media (min-width: 2800px) {
  #Featured-Product {
    height: 70rem; }
    #Featured-Product #productBackground {
      height: 70rem; }
    #Featured-Product .productBackground {
      height: 140%; }
    #Featured-Product #products {
      top: 10%; } }
@media (min-width: 3000px) {
  #Featured-Product {
    height: 110rem; }
    #Featured-Product #productBackground {
      height: 110rem; }
    #Featured-Product #products {
      top: 10%; } }
@media (min-width: 3200px) {
  #Featured-Product {
    height: 140rem; }
    #Featured-Product #productBackground {
      height: 140rem; }
    #Featured-Product #products {
      top: 10%; } }
.footer {
  position: relative;
  width: 100%;
  background-color: #2b2b41 !important;
  height: 35rem !important; }
  .footer .table-footer {
    width: 80%;
    color: white;
    position: relative;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    border-collapse: separate;
    border-spacing: 15px; }
    .footer .table-footer thead td {
      font: normal 20pt arial;
      border-bottom: 1px solid #3a3838; }
    .footer .table-footer h1 {
      opacity: 0.8; }
    .footer .table-footer p {
      opacity: 0.8; }
    .footer .table-footer .btn-Subscribe {
      background-color: green;
      border: none;
      border-radius: 2%;
      height: 2.2rem; }
    .footer .table-footer input {
      opacity: 0.2;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 4%; }

/*# sourceMappingURL=Index.css.map */
