@import 'Base/Components.scss';
@import 'Base/LayoutDesign.scss';
@import 'State/Animation.scss';
@import 'State/Hovers.scss';

#background1{
    position: fixed;
  right: 0;

  min-width: 100%;
}


#navbar-superior{
background-color: rgb(24, 147, 45) !important;
li{
    color: white;
    font: normal 8pt arial;
}
#nav-item-1{
    position: relative;
    left: 8rem;
}
#nav-item-2{
    position: relative;
    left: 10rem;
}
#nav-item-3{
    position: relative;
    left: 180%;
}
#redes-Sociais{
    position: relative;
    left: -7rem;
    top: 0.3rem;
}

}
#navbar-inferior{
    background-color: rgb(44, 44, 44) !important;
    #nav-brand{
        color: rgb(255, 255, 255);
        font: bold 20pt arial;
        position: relative;
        left: 8rem;
    }
    div[name="navbar-center"]{
        color: rgb(255, 255, 255) !important;
    text-align: center !important;
    
        ul{
           
            justify-content: space-between;
            width: 30rem;
            position: relative;
         left: 50%;
        
        transform: translateX(-50%);
        }
    }
   
 a{
color: rgb(255, 255, 255) !important;
 }

    #inputSearch{
        
        
        display: none;
    }
    #ButtonSearch{
        display: none;

    }
    #itens-Search{
        position: relative;
        left: -8rem;
        input{
            position: relative;
            top: 50%;
            height: 3rem;
        }
        button{
            position: relative;
            top: 50%;
            height: 3rem;
        }
       
    }   

    @media (max-width:1200px) {
        #itens-Search{
            position: relative;
            left: 0rem;
           
        }    
    }

    
}
#card-carousel{
    width: 40rem;
    position: absolute;
    top: 40%;
    left: 15%;

}
@media  (max-width:1200px) {
    #card-carousel{
    
        display: none;
    
    } 
}
@media  (min-width:2560px) {
    #card-carousel{
        width: 180rem;
        h1{
            font: bold 45pt arial;
        }
        h4{
            font: normal 35pt arial;
        }
        p{
            font: normal 25pt arial;
        }
        
    
    } 
}
#card-categories{
    text-align: center;
}

#categories{
    position: relative;
    left: 50%;
   top: 15%;
   transform: translateX(-50%);
    button{
        color: rgb(0, 0, 0) !important;
        width: 27% !important;
        height: 2.5rem !important;
        font: normal 8pt arial;
        border: none;
        border-radius: 5%;
        background-color: rgb(253, 253, 253);
        transition: all 0.5s;
        &:hover{
            color: rgb(255, 255, 255) !important;
            background-color: rgb(4, 27, 4);
        }
       }
}
#Featured-Product{
    
    height: 60rem;
    justify-content: center;
    #productBackground{
        background-color: rgb(166, 192, 199) !important;
         width: 100%;
         height: 60rem;
           min-width: 100%;
            min-height: 100%;
             position: absolute; 
            

    }
    .titulo{
        text-align: center;
        position: relative;
        top: 5rem;
    }
#products{
    position: relative;
    left: 50%;
   top: 15%;
   transform: translateX(-50%);
}
}
@media (max-width:1300px){
    #footerBackground{
        height:40rem !important;
   }
}  
@media  (max-width:1200px) {
    #Featured-Product{
        #productBackground{
             height: 60rem;
        }
        height: 60rem;
    }
    #footerBackground{
         height:40rem !important;
    }
}
@media  (max-width:900px) {
    #Featured-Product{
        #productBackground{
            height: 50rem;
       }
        height: 50rem;
    }
    #footerBackground{
        height:40rem !important;
   }
}
@media  (max-width:700px) {
    #Featured-Product{
        height: 90rem;
        #productBackground{
            height: 90rem;
       }
        #products{
            top: 10%;
        }
    }
}

@media  (max-width:650px) {
    #Featured-Product{
        height: 150rem;
        #productBackground{
            height: 150rem;
       }
        #products{
            top: 10%;
        }
    }
}
@media  (max-width:600px) {
    #Featured-Product{
        height: 140rem;
        #productBackground{
            height: 140rem;
       }
        #products{
            top: 10%;
        }
    }
}
@media  (max-width:500px) {
    #Featured-Product{
        height: 120rem;
        #productBackground{
            height: 120rem;
       }
        #products{
            top: 10%;
        }
    }
}
@media (min-width: 2000px){
    #Featured-Product{
        height: 70rem;
        #productBackground{
            height: 70rem;
       }
        #products{
            top: 10%;
        }
    }

}
@media (min-width: 2200px){
    #Featured-Product{
        height: 70rem;
        #productBackground{
            height: 70rem;
       }
        #products{
            top: 10%;
        }
    }

}
@media (min-width: 2500px){
    #Featured-Product{
        height: 40rem;
        #productBackground{
            height: 40rem;
       }
        .titulo{
            h1{
                font: bold 35pt arial;
            }
            p{
                font: normal 20pt arial;
            }
            
        }
        #products{

            top: 10%;
        }
    }
  
}
@media (min-width: 2800px){
    #Featured-Product{
        height: 70rem;
        #productBackground{
            height: 70rem;
       }
        .productBackground{
            height: 140%;
        }
        #products{
            top: 10%;
        }
    }
  
}
@media (min-width: 3000px){
    #Featured-Product{
        height: 110rem;
        #productBackground{
            height: 110rem;
       }
        #products{
            top: 10%;
        }
    }
  
}
@media (min-width: 3200px){
    #Featured-Product{
        height: 140rem;
        #productBackground{
            height: 140rem;
       }
        #products{
            top: 10%;
        }
    }
    
}
.footer{
    position: relative;
    width: 100%;
    background-color: rgb(43, 43, 65) !important;
    height: 35rem!important;
   
    .table-footer{
        
        width: 80%;
        color: white;
        position: relative;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
        
         border-collapse: separate;
         border-spacing: 15px;
        
         thead{
            td{
                font: normal 20pt arial;
                border-bottom: 1px solid rgb(58, 56, 56);
            }
         }
         h1{
            opacity: 0.8;
         }
         p{
            opacity: 0.8;
         }
         .btn-Subscribe{
            background-color: green;
            border: none;
            border-radius: 2%;
           
            height: 2.2rem;
            
         }
         
         input{
            opacity: 0.2;
            background-color: transparent;
            border: 1px solid white;
            border-radius: 4%;
         }
        
    }
}