@mixin image($widthvalue , $heighvalue){
    position: absolute;
    width: $widthvalue;
    height: $heighvalue;
}
@mixin button($widthvalue , $heightvalue , $position , $left , $top , $border , $backgroundcolor , $borderradius){
    @if $position != none {
        position: $position;
    }
    position: $position;
    @if $left != none {
        left: $left;
    }
    @if $top != none {
        top: $top;
    }
    width: $widthvalue;
    height: $heightvalue;
    @if $border != none{
        border: $border;
    }
    @if $backgroundcolor != none{
        background-color: $backgroundcolor;
    }
    @if $borderradius != none{
        border-radius: $borderradius;
    }
}

@mixin subnavbarclick($name , $quantidade , $widthvalue , $heightvalue , $bordercolor , $backgroundcolor){
    @for $var from 0 to $quantidade {
     :active  #{$name}#{$var}{
            position: absolute;
    width: $widthvalue;
    height: $heightvalue;
    border: 1px solid $bordercolor;
    background-color: $backgroundcolor;
        }
    }
}
@mixin subnavbarhover($name , $quantidade , $widthvalue , $heightvalue , $bordercolor , $backgroundcolor){
    @for $var from 0 to $quantidade {
     :hover  #{$name}#{$var}{
            position: absolute;
    width: $widthvalue;
    height: $heightvalue;
    border: 1px solid $bordercolor;
    background-color: $backgroundcolor;
        }
    }
}