@mixin backgrounddesign($backgroundcolor  , $shadow) {
    background-color: #{$backgroundcolor};
    @if $shadow != none{
        box-shadow: #{$shadow};
    }
    
}
@mixin centralizar($position , $X , $Y){
    @if $position != none{
        position: $position;  
    }    
    @if $X != none{
        left: $X; 
        transform: translateX(-#{$X});
        margin-right: -$X;
    }
    @if $Y != none {
        top: $Y;
        transform: translateY( -#{$Y});
    }
}
@mixin centralizar2(){
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
@mixin centralizar3(){
    top: 50%;
    left: 50%;
    
}
@mixin textcentralize(){
    text-align: center;
    line-height: center;
}
@mixin textdesign($font){
    font: $font;
    
}

@mixin dropshadow($shadowproperties){
    box-shadow:$shadowproperties;
}
@mixin border($width , $style , $image ) {
    border-width: $width;
    border-style: $style;
    border-image: $image 1;
    
}