/* animation: name duration timing-function delay iteration-count direction fill-mode; */
//loading animation == animation-duration: 0.01s; animation-iteration-count: infinite;
//scroll animation ==  animation-delay: calc(var(--scroll) * -1s);
$Scrollanimation: calc(var(--scroll) * -1s);
@mixin opacitysimpleanimation($name , $opacitystart , $opacityend) {
    @keyframes #{$name} {
        0%{
            opacity: $opacitystart;
        }
        100%{
            opacity: $opacityend;
        }
    }
}

@mixin opacitymiddleanimation($name , $opacitystart , $opacitymiddle , $opacityend){
    @keyframes #{$name} {
        0%{
            opacity: $opacitystart;
        }
        50%{
            opacity: $opacitymiddle;
        }
        100%{
            opacity: $opacityend;
        }
    }
}

@mixin opacitycomplexyanimation($name , $opacity14 , $opacity24 , $opacity34 , $opacity44) {
    @keyframes #{$name} {
        0%{
            opacity: $opacity14;
        }
        33%{
            opacity: $opacity24;
        }
        66%{
            opacity: $opacity34;
        }
        100%{
            opacity: $opacity44;
        }
    }
}

@mixin scalesimpleanimation($name , $scalestart , $scaleend ){
    @keyframes #{$name}{
        0%{
            transform: scale(#{$scalestart});
        }
        100%{
            transform: scale(#{$scaleend});
        }
    }
}

@mixin scalemiddleanimation($name , $scalestart ,$scalemiddle , $scaleend){
    @keyframes #{$name}{
        0%{
            transform: scale(#{$scalestart});
        }
        50%{
            transform: scale(#{$scalemiddle});
        }
        100%{
            transform: scale(#{$scaleend});
        }
    }
    animation: #{$animation};
    animation-delay: $animationdelay;
}

@mixin translatesimpleanimation($name , $leftstart , $leftend, $topstart , $topend ){
    @keyframes #{$name} {
        0%{
            transform: translate(#{$leftstart} , #{$topstart});
        }
        100%{
            transform: translate(#{$leftend} , #{$topend});
        }
    }
}

@mixin translatemiddleanimation($name , $leftstart , $leftmiddle , $leftend, $topstart , $topmiddle , $topend){
    @keyframes #{$name} {
        0%{
            transform: translate(#{$leftstart} , #{$topstart});
        }
        50%{
            transform: translate(#{$leftmiddle} , #{$topmiddle});
        }
        100%{
            transform: translate(#{$leftend} , #{$topend});
        }
    }
}
@mixin translatecomplexyanimation($name , $left14 , $left24 , $left34 , $left44 , $top14 , $top24 , $top34 , $top44){
    @keyframes #{$name} {
        0%{
            transform: translate(#{$left14} , #{$top14});
        }
        33%{
            transform: translate(#{$left24} , #{$top24});
        }
        66%{
            transform: translate(#{$left34} , #{$top34});
        }
        100%{
            transform: translate(#{$left44} , #{$top44});
        }
    }
}
@mixin positioncomplexyanimation($name , $left14 , $left24 , $left34 , $left44 , $top14 , $top24 , $top34 , $top44){
    @keyframes #{$name} {
        
        0%{
            left: $left14;
            top: $top14;
        }
        33%{
            left: $left24;
            top: $top24;
        }
        66%{
            left: $left34;
            top: $top34;
        }
        100%{
            left: $left44;
            top: $top44;
        }
    }
}
@mixin positionsimpleanimation($name , $leftstart , $leftend, $topstart , $topend ){
    @keyframes #{$name} {
        0%{
            left: $leftstart;
            top: $topstart;
        }
        100%{
            left: $leftend;
            top:$topend;
        }
    }
}
@mixin rotatesimpleanimation($name , $rotatestart , $rotateend){
    @keyframes #{$name} {
        0%{
            transform: rotate(#{$rotatestart});
        }
        100%{
            transform: rotate(#{$rotateend});
        }
    }
}

@mixin rotatemiddleanimation($name , $rotatestart , $rotatemiddle , $rotateend){
    @keyframes #{$name} {
        0%{
            transform: rotate(#{$rotatestart});
        }
        50%{
            transform: rotate(#{$rotatemiddle});
        }
        100%{
            transform: rotate(#{$rotateend});
        }
    }
}

@mixin rotatecomplexyanimation($name , $rotate14 , $rotate24 , $rotate34 , $rotate44){
    @keyframes #{$name} {
        0%{
            transform: rotate(#{$rotate14});
        }
        33%{
            transform: rotate(#{$rotate24});
        }
        66%{
            transform: rotate(#{$rotate34});
        }
        100%{
            transform: rotate(#{$rotate44});
        }
    }
}

@mixin addpropertyanimation($name , $duration , $timingfunction , $delay , $iteration-count , $direction ){
    animation-name: $name;
    animation-duration: $duration;
    animation-timing-function: $timingfunction;
    animation-iteration-count: $iteration-count;
    animation-direction: $direction;

    animation-delay: $delay;
}


@mixin imageslide($name , $quantidade , $image1 , $image2 , $image3 , $image4 , $image5 , $image6 , $image7 , $image8 , $image9 , $image10){
@if "#{$quantidade}" =="2" {
    @keyframes #{$name} {
        0%{
            background-image: url("#{$image1}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        50%{
            background-image: url("#{$image2}");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}
@if "#{$quantidade}" =="3" {
    @keyframes #{$name} {
        33%{
            background-image: url("#{$image1}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        66%{
            background-image: url("#{$image2}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        100%{
            background-image: url("#{$image3}");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}
@if "#{$quantidade}" =="4" {
    @keyframes #{$name} {
        25%{
            background-image: url("#{$image1}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        50%{
            background-image: url("#{$image2}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        75%{
            background-image: url("#{$image3}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        100%{
            background-image: url("#{$image4}");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}
@if "#{$quantidade}" =="5" {
    @keyframes #{$name} {
        20%{
            background-image: url("#{$image1}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        40%{
            background-image: url("#{$image2}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        60%{
            background-image: url("#{$image3}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        80%{
            background-image: url("#{$image4}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        100%{
            background-image: url("#{$image5}");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}
@if "#{$quantidade}" =="6" {
    @keyframes #{$name} {
        16.6%{
            background-image: url("#{$image1}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        33.2%{
            background-image: url("#{$image2}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        49.8%{
            background-image: url("#{$image3}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        66.4%{
            background-image: url("#{$image4}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        83%{
            background-image: url("#{$image5}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        100%{
            background-image: url("#{$image6}");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}
@if "#{$quantidade}" =="7" {
    @keyframes #{$name} {
        14.2%{
            background-image: url("#{$image1}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        28.4%{
            background-image: url("#{$image2}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        42.6%{
            background-image: url("#{$image3}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        56.8%{
            background-image: url("#{$image4}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        71%{
            background-image: url("#{$image5}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        85.2%{
            background-image: url("#{$image6}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        99.4%{
            background-image: url("#{$image7}");
            background-size: cover;
            background-repeat: no-repeat;
        }

    }
}
@if "#{$quantidade}" =="8" {
    @keyframes #{$name} {
        12.5%{
            background-image: url(#{$image1});
            background-size: cover;
            background-repeat: no-repeat;
        }
        25%{
            background-image: url("#{$image2}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        37.5%{
            background-image: url("#{$image3}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        50%{
            background-image: url("#{$image4}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        62.5%{
            background-image: url("#{$image5}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        75%{
            background-image: url("#{$image6}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        87.5%{
            background-image: url("#{$image7}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        100%{
            background-image: url("#{$image8}"); 
            background-size: cover;
            background-repeat: no-repeat;
        }

    }
}
@if "#{$quantidade}" =="9" {
    @keyframes #{$name} {
        11.1%{
            background-image: url("#{$image1}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        22.2%{
            background-image: url("#{$image2}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        33.3%{
            background-image: url("#{$image3}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        44.4%{
            background-image: url("#{$image4}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        55.5%{
            background-image: url("#{$image5}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        66.6%{
            background-image: url("#{$image6}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        77.7%{
            background-image: url("#{$image7}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        88.8%{
            background-image: url("#{$image8}");
            background-size: cover;
            background-repeat: no-repeat; 
        }
        100%{
            background-image: url("#{$image9}");
            background-size: cover;
            background-repeat: no-repeat;
        }

    }
}
@if "#{$quantidade}" =="10" {
    @keyframes #{$name} {
        10%{
            background-image: url("#{$image1}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        20%{
            background-image: url("#{$image2}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        30%{
            background-image: url("#{$image3}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        40%{
            background-image: url("#{$image4}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        50%{
            background-image: url("#{$image5}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        60%{
            background-image: url("#{$image6}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        70%{
            background-image: url("#{$image7}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        80%{
            background-image: url("#{$image8}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        90%{
            background-image: url("#{$image9}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        100%{
            background-image: url("#{$image10}");
            background-size: cover;
            background-repeat: no-repeat;
        }

    }
}
}
@mixin widthAnimetedStart($name, $width) {
    @keyframes #{$name}{
        0%{
            display: none;
            width: 0rem;
        }
        1%{
            display: block;
        }
        100%{
            width: $width;
        }
    }
}
@mixin widthAnimetedEnd($name, $width) {
    @keyframes #{$name}{
        0%{
            display: block;
            width: $width;
        }
        
        98%{
            width: 0rem;
        }
        100%{
            display: none;
        }
    }
}







